<div class="row" ng-repeat="list in lists">
	<div class="col s4"><h3>{{list.name}}</h3></div>
	<div class="col s4"><h3><button class="btn-floating btn-large waves-effect waves-light grey darken-2" ng-click="EditList(list)"><i class="material-icons">mode_edit</i></button></h3></div>
	<div class="col s4"><h3><button class="btn-floating btn-large waves-effect waves-light grey darken-2" ng-click="DeleteList(list)"><i class="material-icons">delete</i></button></h3></div>
</div>
<div class="row">
	<div class="col s12"><h3><button class="btn-floating btn-large waves-effect waves-light grey darken-2" ng-click="NewList()"><i class="material-icons">note_add</i></button></h3></div>
</div>